.App {
  text-align: center;
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:rgb(60, 160, 155);
  font-size: calc(77px + 2vmin);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.left-content {
  width: 33vw;
}

.center-content {
  width: 33vw;
}

.right-content {
  width: 33vw;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  color: #1b0122;
  font-size: calc(50px + 2vmin);
}

.bottom {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b0122;
  color: #61dafb;
  font-size: calc(50px + 2vmin);
}
.App-link {
  color: whitesmoke;
}

a{
  text-decoration: none;
}

a:hover{
  color: #ffccff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
