.App {
  text-align: center;
  color: #61dafb;
  cursor: default;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  height: 20vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:#1b0122;
  font-size: calc(33px + 2vmin);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.left-content {
  width: 10vw;
}

.center-content {
  width: 10vw;
}

.right-content {
  width: 10vw;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  color: #1b0122;
  font-size: calc(50px + 2vmin);
}

.bottom {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b0122;
  color: #61dafb;
  font-size: calc(40px + 2vmin);
}
.App-link {
  color: #61dafb;
}

.App-link:hover{
  color: #ffccff;
}

.App-link-content {
  color: #222222;
  font-size: calc(20px + 2vmin);
}

.App-link-content:hover {
  color: #777344;
}

a{
  text-decoration: none;
}

a:hover{
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
